.file-panel * {
    color: #BBC7DD;
}

.file-panel .file-item {
    width: 100%;
}

.file-panel input {
    display: none;
}

.file-panel {
    width: 1000px;
}

.file-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    width: 100%;
    padding: 20px 20px;
    background-color:  rgb(34, 46, 68);
    overflow: hidden;
}

.upload-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-type-select {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    outline: #BBC7DD solid 2px;
    border: none;
    border-radius: 20px;
    height: 40px;
}

.upload-type-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    width: 85px;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 1;
}

.slider {
    position: absolute;
    height: 40px;
    width: 95px;
    border-radius: 20px;
    background-color: #3c5075;
    z-index: 0;
}



.dropzone-root {
    position: relative;
    display: flex;
    flex-direction: column;
    border: #BBC7DD solid 1px;
    border-radius: 15px;
    background-color: #192233;
    padding: 10px;
    width: 100%;
    gap: 7px;
    flex-wrap: wrap;
    min-height: 300px;
    transition: all 0.5s;
}

.upload-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 30px;
    background-color: #007070;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    width: 180px;
    transition: all 0.3s;
}

.upload-button:hover {
    background-color: #008B8B;
    transition: all 0.1s;
}

.upload-button .logo {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px
}

.upload-button img {
    height: 100%;
    width: 100%
}

.drop-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2.5rem;
    background-color: #2d3d5b;
    z-index: 2;
    border-radius: 15px;
    opacity: 0.75;
    user-select: none;
    -webkit-user-select: none;
}

.drop-screen-icon {
    display: flex;
    align-items: center;
}

.drop-screen img {
    height: 50px;
    width: 50px;
}

.drop-screen-transition-enter {
    opacity: 0;
}

.drop-screen-transition-enter-active {
    opacity: 0.75;
    transition: all 0.2s;
}

.drop-screen-transition-exit {
    opacity: 0.75;
}

.drop-screen-transition-exit-active {
    opacity: 0;
    transition: all 0.15s;
}

.file-upload-button {
    display: flex;
    width: 100%;
}