.fullpost-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    justify-content: center;
}

.comment-button {
    border: none;
    position: fixed;
    right: 10%;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    background-color: #008B8B;
    border-radius: 10px;
    padding: 8px 12px;
    gap: 5px;
    transition: all 0.3s;
}

.comment-button * {
    color:#BBC7DD;
}

.comment-button:hover {
    background-color: #007070;
    transition: all 0.1s;
}

.comment-button-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.comment-logo {
    height: 16px;
    width: 16px;
}

.comment-logo img {
    height: 100%;
    width: 100%;
}

.fullpost-container .loading-container {
    background-color: #111722;
    width: 50%;
    min-width: 600px
}

.fullpost-container .end-message {
    text-align: center;
    width: 50%;
    margin: 20px;
    min-width: 600px
}
