.welcome {
    padding: 1.5rem;
    border-radius: 10px;
    margin: 80px auto 10px;
    background: url('../assets/img/welcome.png') no-repeat center / cover;
    color: var(--font-color);
    width: 50%;
    min-width: 600px;
    box-sizing: border-box;
}

.welcome h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.welcome p {
    font-size: 0.8rem;
    font-weight: lighter;
    line-height: 1.5;
}

.dashboard {
    margin: 20px auto;
    background-color: var(--background-color);
    color: var(--font-color);
    width: 50%;
    min-width: 600px;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard .header {
    min-height: 8%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dashboard .body {
    padding: 1rem;
    background-color: var(--body-bg-color);
}

.dashboard h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
    .dashboard {
        width: 100%;
        min-width: unset;
        margin-bottom: 0;
    }

    .welcome {
        width: 95%;
        min-width: unset;
    }

    .dashboard .body {
        padding: 0.5rem 0.5rem;
        height: auto;
    }
}