.welcome {
    padding: 1.5rem;
    border-radius: 10px;
    margin: 7rem auto 10px;
    background: url('../assets/img/welcome.png') no-repeat center / cover;
    color: var(--font-color);
    width: 50%;
    min-width: 600px;
    box-sizing: border-box;
    display: block;
}

.welcome h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto 0.25rem;
    width: 20em;
    text-align: center;
}

.welcome h2 {
    font-size: 1.2rem;
    font-weight: 250;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin: 0.5rem auto 0.25rem;
    width: 20em;
    text-align: center;
}

.welcome .Logo {
    width: fit-content;
    margin: 0 auto;
}

.welcome img {
    width: 6em;
    height: 6em;
}

.join-forum {
    padding: 1.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #0a111f;
    margin: 3rem auto 10px;
    background: url('../assets/img/welcome2.png') no-repeat center / cover;
    color: var(--font-color);
    width: 50%;
    min-width: 600px;
    display: block;
}

.website-name {
    display: flex;
    margin-bottom: 1em;
    gap: 0.3em;
}

.website-name h1 {
    font-size: 1.8rem;
    font-weight: bold;
    align-self: center;
}

.join-forum img {
    width: 4em;
    height: 4em;
}

.join-forum .join-forum-desc {
    display: flex;
}

.join-forum p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    width: 70%;
    color: var(--font-color);
}

.join-forum a {
    background-color: var(--hover-color);
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 8px;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .welcome {
        width: 95%;
        min-width: unset;
    }

    .welcome h1 {
        font-size: 1.2rem;
    }

    .welcome h2 {
        font-size: 0.8rem;
    }

    .welcome img {
        width: 4em;
        height: 4em;
    }

    .dashboard .body {
        padding: 0.5rem 0.5rem;
        height: auto;
    }
}