:root {
    interpolate-size: allow-keywords; /* 👈 */
}

.minipost-container * {
    font-size: 0.7rem;
    color:#BBC7DD;
}

.minipost-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    background-color: #222E44;
    border-radius: 15px;
    padding: 20px 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.expanded {
    height: auto;
}

.header-bar:hover {

    background-color: #344870;
    transition: all 0.1s;
}

.header-bar {
    display: flex;
    padding: 10px;
    background-color: #2c3952;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s;
}

.header-content {
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.minipost-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.minipost-meta {
    display: flex;
}

.time-since-post {
    padding-top: 1%;
}

.minipost-author {
    color: #008B8B;
}

.header-logo {
    height: 40px;
    width: 40px;
}

.header-logo img {
    height: 100%;
    width: 100%;
}

.to-fullpost-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.to-fullpost-button img {
    height: 25px;
    width: 25px;
}

.on-click-annotation {
    font-size: 1rem;
    height: auto;
}

.minipost-description {
    font-size: 0.9rem;
    overflow: hidden;
}

.minipost-description .app-window {
    border: none;
    min-width: 0;
    min-height: 0;
    width: 100%;
}

.minipost-description .post-body {
    width: 100%;
}

.minipost-container .post-content {
    width: 100%;
} 

.minipost-description .post-header, .minipost-description .title-bar {
    display: none;
}

.minipost-description .post-properties-side {
    position: absolute;
    display: none;
}

.minipost-description .post-content {
    background: none;
}

.minipost-container .content-header, .minipost-description .content-header *, .minipost-container .code-header, .minipost-container .code-header-text, .minipost-description .code-content {
    margin: 0;
    font-size: 1.1rem;
}

.minipost-description .code-content {
    margin-top: 10px
}

.minipost-folder .file-item {
    padding: 15px 10px;
    border: 1px #BBC7DD solid;
}

.minipost-folder .file-item * {
    font-size: 0.9rem;
}

.minipost-tag-container {
    display: flex;
    gap: 8px;
    height: 100%;
}

.minipost-tag-container > .tag {
    height: 20px;
    width: 100px;
    margin: 0;
}

.minipost-tag-container > .tag:hover {
    font-size: 0.75rem;
    width: 120px;
    transition: all ease-in-out 0.1s;
}

.minipost-vote-count {
    display: flex;
    margin-left: auto;
}

@media (max-width: 600px){
    .minipost-title {
        font-size: 1rem;
    }

    .minipost-description {
        font-size: 0.7rem;
    }

    .minipost-container {
        padding: 0.5rem 0.5rem;
    }

    .minipost-tag-container > .tag {
        height: 15px;
        width: 80px;
    }

    .minipost-tag-container > .tag:hover {
        font-size: 0.6rem;
        width: 100px;
    }

    .minipost-vote-count {
        font-size: 0.6rem;
    }
}