.search-container {
    border: 1px solid var(--font-color);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    opacity: 0.6;
}

.search-container input {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    outline: none;
    min-width: 370px;
    width: 100%;
}

.search-container input::placeholder {
    color: var(--font-color);
    opacity: 0.5;
}

@media (max-width: 600px) {
    .search-container input {
        min-width: 200px;
    }
    
}

.search-result {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-result li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--font-color);
}