/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(219, 50%, 8%);
}

.no-css {
    padding: 0;
    margin: 0;
}