.vote * {
    font-size: 0.9rem;
    color: inherit;
    font-weight: 100;
}

.vote img {
    cursor: pointer;
}

.vote {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    width: 6.5rem;
    height: 2rem;
    gap: 5px;
    max-width: 50%;
    min-width: 100px;
}

.vote-count {
    cursor: default;
}

.vote-button {
    position: absolute;
    height: 60%;
    transition: all 0.1s;
}

#upvote{
    left: 5px
}

.vote-button:hover {
    height: calc(60% + 1px);
}

#downvote{
    right: 5px
}

#downvote {
    transform: rotate(180deg);
}