.vote * {
    font-size: 0.9rem;
    color: inherit;
    font-weight: 100;
}

.vote img {
    cursor: pointer;
}

.vote {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    width: 6.5rem;
    height: 2rem;
    gap: 5%;
    max-width: 50%;
}

.vote-count {
    cursor: default;
}

.vote-button {
    position: absolute;
    height: 60%;
    transition: all 0.2s;
}

#upvote{
    left: 5%;
}

.vote-button:hover {
    height: calc(60% + 2px);
    transition: all 0.1s;
}

#downvote{
    right: 5%;
}

#downvote {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .vote {
        max-width: 100%;
        width: 80%;
        height: 1.6rem;
    }

    .vote-count {
        font-size: 0.5rem;
    }
}