::-webkit-scrollbar {
  position: absolute;
  width: 12px;
}
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c3952;
  border-radius: 100px;
  cursor: pointer;
}

.custom-toast {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #23304a;
  color: #BBC7DD;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

