.statistics {
    margin: 0 0.25rem;
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    width: 22%;
    height: 8rem;
    text-align: center;
    background-color: var(--box-bg-color);
    color: var(--font-color);
}

.statistics .statistics-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.statistics p {
    margin: 0;
    font-size: 16px;
}

.statistics h4 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}